{% extends "AppPeces/padre.html" %}


{ %load static% }


{% block titulo %}

   Inserte la camada que desea buscar 

{% endblock %}

{% block descripcion %}

{% for curso in object_list %}

<p> Nombre: {{curso.nombre}}       </p>


<a href="{% url 'CursosDetalle' curso.id %}"> Ver Curso </a>
<a href="{% url 'CursosEditar' curso.id %}"> Editar Curso </a>
<a href="{% url 'CursosBorrar' curso.id %}"> Eliminar Curso </a>
<br>
<br>
______________________
{% endfor %}

<br>

<br> 

<a href="{% url 'CursosCrear' %} "> Crear Curso </a>

<br>
{% endblock %}